name: pfp
on:
  workflow_dispatch:
  # push:
  schedule:
    - cron: "15 1 * * *"

permissions:
  contents: write

jobs:
  pfp:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.0
      - name: setup python
        uses: actions/setup-python@v6.0.0

      - name: install deps
        run: |
          pip install git+https://github.com/CEVIGS/pfpautomation.git
          pip install -r requirements.txt
          playwright install --with-deps chromium
      - name: run pfp scripts
        env:
          KEGSCRAPER_USERNAME: ${{ secrets.USER }}
          KEGSCRAPER_SECRET: ${{ secrets.PASS }}
          # Note that results/ and result.jpg WILL be overwritten/deleted every run
          SAVE_FINAL_RESULT: ${{ secrets.SAVE_FINAL_RESULT }}
          SAVE_RESULTS: ${{ secrets.SAVE_RESULTS }}
        run: |
          python main.py

      - name: Save results
        uses: EndBug/add-and-commit@v9
        with:
          message: 'ci: result'
          default_author: github_actions
          add: 'results result.jpg --ignore-errors'
